@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Karla:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Karla;
  background-color: #f5f7fb;
}

.homepage-div {
  display: flex;
  flex-direction: column;
  color: #293264;
  justify-content: flex-end;
  align-items: center;
}

.homepage-div h2 {
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.homepage-div h4 {
  font-family: inter;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.colour--button {
  background-color: #4d5b9e;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 183px;
  color: #f5f7fb;
  font-size: 18px;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
}

.colour--button:hover {
  background-color: #293264;
}

.submit--button {
  background-color: #4d5b9e;
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  color: #f5f7fb;
  font-size: 15px;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  margin: 20px auto 0px auto;
}

.submit--button:hover {
  background-color: #293264;
}

.questionpage-div {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 14px;
}

.question-answers {
  display: inline;
}

.entire-div {
  margin: 0px;
  display: flex;
  align-items: center;
}

.inline-button {
  margin: 0px auto;
}

.inline-button span {
  font-size: 22px;
  font-weight: 700;
}

.button-row {
  display: flex;
}

.each-question {
  margin: 5px;
  color: #293264;
}

.each-question label:hover {
  background: #ddd;
}

.each-question input[type="radio"] {
  opacity: 0;
  z-index: 100;
}

.inline-button button {
  margin-left: 10px;
}

.inline-button span {
  color: #293264;
}

.each-question label {
  padding: 5px 15px;
  border: 1px solid #293264;
  cursor: pointer;
  z-index: 90;
  color: #293264;
  border-radius: 10px;
  height: 50px;
  width: 183px;
  font-size: 14px;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
}

.disabled {
  pointer-events: none;
}

.each-question input[type="radio"]:checked + label,
.Checked + label {
  background-color: #d6dbf5;
  border: none;
}

.right {
  background-color: #94d7a2;
}

.wrong {
  background-color: #f8bcbc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdef0;
  margin: 1em 0;
  padding: 0;
}
